[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NPM_CONFIG_LEGACY_PEER_DEPS = "true"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
